<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <style>
      .column {
        float: left;
        width: 20%;
        margin-bottom: 130px;
        padding: 0 8px;
      }
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }
      h2 a {
        color:#704500;
        text-decoration: none;
      }

      h2 a:hover {
        color:#704500;
        text-decoration: underline;
      }

    </style>

</head>

<body>

<div class="row">
        
     <div class="column">
        <div class="card">
            <a href=""><img src='/images/vinci.jpg' alt="The Da Vinci Code"></a>
          <div class="container">
            <h2><a href="">The Da Vinci Code</a></h2>
            <p>Edition: 2nd ed.</p>
            <p>Author: Dan Brown</p>
            <p>Published Date: March 2009</p>
            <p style="color:red; font-weight:bold;">Price: $12.99</p>
          </div>
        </div>
      </div>

    <div class="column">
          <div class="card">
            <a href=""><img src='/images/alchemist2.jpg' alt="Alchemist"></a>
          <div class="container">
            <h2><a href="">The Alchemist</a></h2>
            <p>Edition: 25th ed.</p>
            <p>Author: Paulo Coelho</p>
            <p>Published Date: April 2014</p>
            <p style="color:red; font-weight:bold;">Price: $18.09</p>
          </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href=""><img src='/images/kings.jpg' alt="A Clash of Kings"></a>
          <div class="container">
            <h2><a href="">A Clash of Kings</a></h2>
            <p>Edition: Reissue</p>
            <p>Author: George R.R. Martin</p>
            <p>Published Date: Sept. 2000</p>
            <p style="color:red; font-weight:bold;">Price: $13.50</p>
          </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href=""><img src='/images/gatsby3.jpg' alt="The Great Gatsby"></a>
          <div class="container">
            <h2><a href="">The Great Gatsby</a></h2>
            <p>Edition: N/A</p>
            <p>Author: F. Scott Fitzgerald</p>
            <p>Published Date: August 2004</p>
            <p style="color:red; font-weight:bold;">Price: $4.19</p>
          </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href=""><img src='/images/rich.jpg' alt="Rich Dad Poor Dad"></a>
          <div class="container">
            <h2><a href="">Rich Dad Poor Dad</a></h2>
            <p>Edition: 2nd ed.</p>
            <p>Author: Robert Kiyosaki</p>
            <p>Published Date: April 2017</p>
            <p style="color:red; font-weight:bold;">Price: $23.99</p>
          </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href=""><img src='/images/people3.jpg' alt="The Five People You Meet in Heaven"></a>
          <div class="container">
            <h2><a href="">The Five People You Meet in Heaven</a></h2>
            <p>Edition: 1st ed.</p>
            <p>Author: Mitch Albom</p>
            <p>Published Date: March 2006</p>
            <p style="color:red; font-weight:bold;">Price: $22.00</p>
          </div>
        </div>
    </div>

  <div class="column">
        <div class="card">
            <a href=""><img src='/images/harry.jpg' alt="Harry Potter and the Prisoner of Azkaban"></a>
          <div class="container">
            <h2><a href="">Harry Potter and the Prisoner of Azkaban</h2></a>
            <p>Edition: N/A</p>
            <p>Author: J.K. Rowling</p>
            <p>Published Date: Sept. 2014</p>
            <p style="color:red; font-weight:bold;">Price: $12.50</p>
          </div>
        </div>
  </div>

    <div class="column">
        <div class="card">
            <a href=""><img src='/images/seuss.jpg' alt="Oh, The Places You'll Go!"></a>
          <div class="container">
            <h2><a href="">Oh, The Places You'll Go!</h2></a>
            <p>Edition: N/A</p>
            <p>Author: Dr. Seuss</p>
            <p>Published Date: January 1990</p>
            <p style="color:red; font-weight:bold;">Price: $24.99</p>
          </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <a href=""><img src='/images/hawking.jpg' alt="A Brief History Of Time"></a>
          <div class="container">
            <h2><a href="">A Brief History Of Time</a></h2>
            <p>Edition: UPDA</p>
            <p>Author: Stephen Hawking</p>
            <p>Published Date: August 1998</p>
            <p style="color:red; font-weight:bold;">Price: $20.00</p>
          </div>
        </div>
    </div>

</div>
    
</body>
</html>