<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

<div class="register-container">

<form>
    <fieldset>
        
    <h2>Create New Account</h2>

    <p>Please fill in this form to create an account </p>

    <hr>

	<div class="container">
        <label for="fname">First Name</label>
        <input type="text" placeholder="Enter First Name" name="fname" required>

        <label for="lname">Last Name</label>
        <input type="text" placeholder="Enter Last Name" name="lname" required>

        <label for="uname">Username</label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="bday">Date of Birth</label>
        <input type="date" name="bday" required>

        <label for="psw">Password</label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Sign Up</button>

    </div>

    </fieldset>
  
</form>
</div> 

    
</body>
</html>